{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",    
    "AZURE_EXISTING_AIPROJECT_ENDPOINT": "https://aihub-perm-foundry.services.ai.azure.com/api/projects/aiproj-perm-foundry",
    "AZURE_EXISTING_AGENT_ID": "agent-plane-talk:2"
    
  }
}
